---
---

<!DOCTYPE html>
<html lang="en">
<head>
  <title>{{ site.data.settings.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="assets/img/favicons/favicon.ico">
  <link rel="stylesheet" href="assets/css/main.css" />
</head>
<body>

{% include header.html %}

{% include about.html %}

{% include games.html %}

{% include footer.html %}

<script src="assets/js/jquery-2.1.1.min.js"></script>
<script src="assets/js/functions.js" type="text/javascript"></script>
</body>
</html>
