%small-bold
    font:
        size: 14px
        weight: 700
    text-transform: uppercase

%bg-img
    background-repeat: no-repeat, no-repeat
    background-size: 70px 70px, cover
    background-position: 30px 30px, 50% 50%
    background-blend-mode: overlay, normal
