<section>

    <h3 id="about">about</h3>
    
    <div class="icon-lockup">
    
        <div class="big-icon"></div>

            <div class="icon-pencil">{% include icons/icon-pencil.html %}</div>
            <div class="icon-mouse">{% include icons/icon-mouse.html %}</div>
            <div class="icon-browser">{% include icons/icon-browser.html %}</div>
            <div class="icon-video">{% include icons/icon-films.html %}</div>
    </div>
    
    <div class="blurb">

        {{ site.data.settings.blurb }}

    </div>

    <div class="skill-lockup">
        
        {% for skill in site.data.settings.skills %}
        
         <div class="skill-unit">
            <div class="skill-label">{{ skill.name }}</div>
            <div class="skill-icons skill-{{ skill.value }}">
                <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
            </div>
         </div>
        
        {% endfor %}

    </div>

</section>
