<footer>

<div class="lockup">
    
    <div class="content-wrap">
      <nav>

        {% for item in site.data.settings.menu %}
            <a href="{{ item.url }}"> {{ item.name }} </a>
        {% endfor %}

      </nav>
    
    <p class="copyright">All content copyright 2017</p>
    </div>
    
</div>
</footer>
