<section class="alt-section section-games">

    <h3 id="games">games</h3>

    <div class="game-projects-belt">

        <div class=thumb-wrap>
            <div class="thumb-container">
            {% for project in site.data.settings.projects %}
                <a class=thumb-unit data-folder="{{ project.folder }}" style="background-image: url(/assets/img/games/{{ project.folder }}/thumb.jpg);">
                    <div class="thumb-overlay">
                        <strong>{{ project.name }}</strong>
                    </div>
                </a>
            {% endfor%}
        </div>
        </div>

        <div class=game-projects-wrap>
            <div class="game-projects-container">
            <div class="game-projects-return">{% include icons/icon-back.html %}</div>
            <h4 class="project-title"></h4>
            <div class="project-load"></div>
        </div>
        </div>

    </div>

</section>
