<header>
    
    <div class="logo"></div>

    <div class="select_lang">
        <a href="">de</a>|<a href="">en</a>
    </div>

    <nav>
        {% for item in site.data.settings.menu %}
            <a class="{{ item.name }}" href="{{ item.url }}"> {{ item.name }} </a>
        {% endfor %}
    </nav>

    <h1>Ginga * Games</h1>
    
</header>
