
.icon-lockup
    max-width: 780px
    +display(flex )
    margin: 0 auto
    +align-items(center)
    +justify-content(space-around)
            
    .big-icon
        border-radius: 50%
        background-image: url(/assets/img/icons/#{$big-icon-path})
        +size(200px)
        +order(3)
        
    [class^="icon-"]
        +size(100px)
        background: $accent-color
        border-radius: 50%
        
        &.icon-pencil
            +order(1)
        &.icon-mouse
            +order(2)
        &.icon-browser
            +order(4)
        &.icon-video
            +order(5)
        
        color: black
        
@media screen and (max-width: 650px)
    .icon-lockup
        display: block
        text-align: center
        
        div
            display: inline-block
            
        .big-icon
            display: block
            background-position: center center
            background-repeat: no-repeat
            width: auto
            margin-bottom: 20px
            
        [class^="icon-"]
            margin: 10px
        
.blurb
    max-width: 620px
    padding: 0 15px
    margin: 50px auto
    font-size: 18px
    font-weight: 300
    text-align: center
    
.skill-lockup
    max-width: 700px
    margin: 100px auto
    color: $accent-color
    +clearfix
    
    .skill-unit
        width: 300px
        float: left
        margin-left: 33px
                
    .skill-icons
        margin-bottom: 30px
        
        span
            display: inline-block
            height: 6px
            width: 30px
            background-color: $accent-color
            
            
        @for $i from 1 through 10
            &.skill-#{$i} span:nth-child(n+#{$i+1})
                background-color: white
        
        
@media screen and (max-width: 701px)
    .skill-lockup
        width: 300px
        
        .skill-unit
            margin: 0
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
