footer
    @extend %bg-img
    background-image: url(../img/icons/#{$logo-path}), url(../img/BGs/Auswahl/#{$bg-img-path})

    
    .lockup
        padding: 20px 30px 30px 30px

    .content-wrap
        margin-top: 25px
        margin-left: 110px
            
    .copyright
        margin-top: 5px
        color: rgba(0,0,0,0.4)
        font:
            size: 12px
            
            
    nav
        a
            text-transform: uppercase
            color: black
            letter-spacing: 0.1em
            margin-right: 20px

            

