.alt-section
    background: $bg-color-second

.section-games
    overflow-x: hidden

.game-projects-belt
    width: 200%
    position: relative
    left: 0%
    +transition(all 800ms)

.thumb-wrap, .game-projects-wrap
    width: 50%
    float: left

.thumb-container
    max-width: 960px
    margin: 0px auto
    padding-bottom: 100px
    +clearfix

    .thumb-unit
        diaplay: block
        width: 25%
        float: left
        position: relative
        padding-top: 16%
        overflow: hidden

        @media screen and (max-width: 760px)
            width: 50%
            padding-top: 26%

        background:
            position: center center
            repeat: no-repeat
            size: cover

        .thumb-overlay
            +position(absolute, 100% 0px null 0px)
            height: 100%
            background: fade-out($accent-color, 0)
            text-align: center
            +transition
            +display(flex)
            +align-items(center)
            +justify-content(space-around)

            strong
                display: block
                padding: 20px
                color: white
                font-weight: 300
                text-transform: uppercase
                font-size: 24px
                line-height: 1.2

        &:hover .thumb-overlay
            +position(absolute, 0% 0px null 0px)

.game-projects-container
    max-width: 600px
    margin: 0px auto
    position: relative
    display: none

    h4
        color: $accent-color
        font-weight: 300
        text-transform: uppercase
        font-size: 24px
        line-height: 1.2
        margin: 0px 0px 20px

    img
        max-width: 100%

    .game-projects-return
        +size(40px)
        cursor: pointer
        opacity: 0.5
        +position(absolute, -7px null null -60px)

        path
            fill: rgba(0,0,0,0.4)

        &:hover
            opacity: 1

@media (max-width: 740px)
    .game-projects-container

        .games-projects-return
            left: 0px

        h4
            margin-left: 60px



