header
    @extend %bg-img
    height: 500px
    background-image: url(../img/icons/#{$logo-path}), url(../img/BGs/Auswahl/#{$bg-img-path})

    .logo
        +size(76px)
        float: left
        margin: 20px 0 0 30px
        
        path
            fill: rgba(0,0,0,0.5)
        
    .select_lang
        float: right
        text-transform: uppercase
        margin: 15px 20px 0 0
        letter-spacing: 0.1em
        
        a
            color: black
        
    nav
        clear: both
        width: 67px
        margin: 0 0 0 30px
        padding-top: 15px

        a
            float: left
            text-transform: uppercase
            color: black
        
        .about
            letter-spacing: 0.42em
            
        .games
            letter-spacing: 0.4em
            
        .join
            letter-spacing: 1em
            
        .contact
            letter-spacing: 0.1em


    h1
        clear: right
        color: black
        text-align: center
        padding-top: 50px
        font:
            size: 76px
            wight: 700
        text-transform: uppercase
        letter-spacing: 0.25em
        
        div
            float: left
