<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 15.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.2" baseProfile="tiny" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="100px" height="100px" xml:space="preserve">
<path d="M72.5,69.5h-45c-0.829,0-1.5-0.671-1.5-1.5V32c0-0.829,0.671-1.5,1.5-1.5h45c0.829,0,1.5,0.671,1.5,1.5v36
	C74,68.829,73.329,69.5,72.5,69.5z M29,66.5h42v-33H29V66.5z"/>
<path d="M72.216,44.246H27.5c-0.829,0-1.5-0.671-1.5-1.5s0.671-1.5,1.5-1.5h44.716c0.829,0,1.5,0.671,1.5,1.5
	S73.045,44.246,72.216,44.246z"/>
<path d="M35.22,37.378c0,0.758-0.615,1.373-1.373,1.373s-1.373-0.615-1.373-1.373s0.614-1.373,1.373-1.373
	S35.22,36.62,35.22,37.378z"/>
<path d="M40.562,37.378c0,0.758-0.615,1.373-1.373,1.373s-1.373-0.615-1.373-1.373s0.614-1.373,1.373-1.373
	S40.562,36.62,40.562,37.378z"/>
<path d="M45.904,37.378c0,0.758-0.615,1.373-1.373,1.373s-1.373-0.615-1.373-1.373s0.614-1.373,1.373-1.373
	S45.904,36.62,45.904,37.378z"/>
</svg>
