<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 15.1.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.2" baseProfile="tiny" id="Ebene_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
	 x="0px" y="0px" width="100px" height="100px" xml:space="preserve">
<path d="M75.5,67.5h-51c-0.829,0-1.5-0.671-1.5-1.5V34c0-0.829,0.671-1.5,1.5-1.5h51c0.829,0,1.5,0.671,1.5,1.5v32
	C77,66.829,76.329,67.5,75.5,67.5z M26,64.5h48v-29H26V64.5z"/>
<path d="M56.997,50l-14.004,8.494V41.505L56.997,50z"/>
</svg>
